.container {
    margin: 0 auto;
    width: 500px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopwatch {
    font: 1.5rem;
    font-weight: bold;
}

button {
    outline: none;
    border: 1px solid #ccc;
    padding: .5rem;
    background-color: aliceblue;
    margin-top: 1rem;
    cursor: pointer;
    width: 80px;
}

button:nth-child(-n + 2) {
    margin-right: .5rem;
}

button:hover {
    background-color: rgba(182, 214, 241, 0.603);
}